* {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0px;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: none;
}

.logo a {
  text-decoration: none;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.search-cart-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 60px;
}

.fa-user-circle,
.fa-shopping-cart {
  color: black;
  font-size: 19px; /* Adjusted to match icon sizes */
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 5px 30px 5px 10px; /* Add padding-right for the icon */
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-icon {
  position: absolute;
  right: 5px;
  color: black;
  cursor: pointer;
  font-size: 17px; /* Adjust this value to make the icon smaller */
}

.content {
  padding-top: 70px; /* Adjust this value based on the height of your navbar */
}

/* Dropdown Menu */
.dropdown {
  position: relative;
}

.dropbtn {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: grey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
  border-radius: 10px;
  padding: 5px;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Product Card */

.title {
  margin-top: 70px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}
.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
}
.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card h2 {
  font-size: 1.5em;
  margin: 16px 0;
}
.card p.brand {
  margin-left: 10px;
  text-align: left;
}
.card p.price {
  margin-left: 10px;
  text-align: left;
  font-size: 1.2em;
  color: #333;
}
.card .sizes {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
}

button {
  color: #333;
}
.card .sizes button {
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  padding: 8px 12px;
  cursor: pointer;
}

.card .sizes button.active {
  background-color: #d6a78b; /* Warna aktif */
  color: #fff;
}
.card .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.card .quantity button {
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  padding: 8px 12px;
  cursor: pointer;
}
.card .quantity span {
  font-size: 1.2em;
  margin: 0 10px;
}
.card .add-to-cart button {
  background-color: #d6a78b;
  color: #fff;
  border-radius: 10px;
}

.card .add-to-cart button:hover {
  scale: 1.1;
  transition: 0.3s;
  background-color: #b68e77;
  color: #fff;
}
.card .add-to-cart {
  color: black;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  margin-top: 20px;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
}

.footer-left {
  margin-right: 20px;
}

.footer-left h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.footer-company-name {
  margin-top: 10px;
}

.footer-center i {
  margin-right: 10px;
}

.footer-center div {
  margin-bottom: 10px;
}

.footer-right {
  margin-left: 20px;
}

.gmail a {
  color: white;
  text-decoration: none;
}

.footer-company-about {
  line-height: 1.6;
  margin-bottom: 20px;
}

.footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #555;
  border-radius: 50%;
  margin-right: 5px;
  color: white;
}

.footer-icons a:hover {
  background-color: #d6a78b;
}

@media (max-width: 800px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px; /* Adjust top position based on your navbar height */
    left: 0;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav-links li {
    margin: 10px 0;
    margin-left: 20px;
    text-align: left; /* Align text to the left */
  }

  .search-cart-profile {
    display: flex;
    margin-right: auto;
    margin-left: 20px;
    align-items: center; /* Align items vertically */
  }

  .search-cart-profile input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100px; /* Adjust width as needed */
  }

  .search-cart-profile i {
    font-size: 20px; /* Adjust icon size */
  }

  .hamburger-menu {
    display: block;
    color: #333;
    margin-right: 40px; /* Adjust margin as needed */
    cursor: pointer;
  }

  .navbar.expanded .nav-links {
    display: flex;
  }

  .navbar.expanded .search-cart-profile {
    display: none;
  }

  .navbar.expanded .search-cart-profile input {
    width: 100%;
  }

  .navbar.expanded .hamburger-menu {
    margin-right: 40px; /* Adjust margin as needed */
  }

  /* Dropdown Menu */
  .dropdown {
    position: relative;
    text-align: right; /* Align dropdown menu to the right */
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    right: 10; /* Adjust dropdown position to the right */
  }

  .card {
    margin: 20px;
  }

  /* Footer */

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center-align text for smaller screens */
  }

  .footer-links span {
    display: none;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    margin: 10px 0;
    width: 100%; /* Make each section take full width */
  }

  .footer-left h3 {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .footer-links a {
    display: block;
    margin: 5px 0; /* Stack links vertically */
  }

  .footer-center div {
    margin-bottom: 15px; /* Increase space between items for readability */
  }

  .footer-right {
    margin-left: 0;
  }
}
